@using Domain.DTO
@using Domain.Models
@model UserPayrollDTO
@{
	int counter = 1;
	// Initialize a counter to 1
}
@{
	ViewData["Title"] = "View Payroll";
	Layout = "_UserLayout";

}

<div class="card">
	<div class="card-body">
		<h3 class="card-title">List of Payrolls for @Model.Name</h3>
		<div class="card-body mb-3">
			<div class="row">
				<div class="col-md-6">
					<label for="year">Year:</label>
					<input type="text" id="year" name="year" class="form-control">
				</div>
				<div class="col-md-6">
					<label for="month">Month:</label>
					<input type="text" id="month" name="month" class="form-control">
				</div>
			</div>
		</div>
		
			
		</div>
</div>
<div class="card">
	<div class="card-body p-5">
		<!-- Default Table -->
		<table class="table" id="PayrollTable">
			<thead>
				<tr>
					@* <th scope="col">ID</th> *@
					<th scope="col">S.N.</th>
					<th scope="col">Year</th>
					<th scope="col">Month</th>
					<th scope="col">Basic Salary</th>
					<th scope="col">Allowances</th>
					<th scope="col">Deductions</th>
					<th scope="col">Net Salary</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var row in Model.payrolls)
				{
					<tr>
						@* <td>@row.Id</td> *@
						<td>@counter</td>
						<td>@row.Year</td>
						<td>@row.Month</td>
						<td>@row.BasicSalary</td>
						<td>@row.Allowances</td>
						<td>@row.Deductions</td>
						<td>@row.NetSalary</td>

					</tr>
					counter++;
				}
			</tbody>
		</table>
	</div>
</div>



@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="~/js/payroll.js"></script>
}
